<!DOCTYPE html>
<html>
<head>
<title>会员banner</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../public/css/main.css">
<link rel="stylesheet" href="../public/iview/iview.css">
<link rel="stylesheet" href="../public/iview/ionicons.min.css">
<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/iview/iview.min.js"></script>
<script src="../public/js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<!--<i-button type="error" icon="close" @click="del" style="float:right;margin:0px 5px 0px 0px;">批量删除</i-button>-->
			<i-button type="primary" icon="plus" @click="add" style="float:right;margin:0px 5px 0px 0px;">新增</i-button>
			
			<i-input v-model="q.code" placeholder="请输入会员ID" clearable style="width: 300px"></i-input>
			<i-input v-model="q.nickName" placeholder="请输入会员名称" clearable style="width: 300px"></i-input>

			<!--<Date-picker v-model="q.ctime" type="daterange" placement="bottom-end" placeholder="请选择" style="width: 300px" @on-change="formateDate"></Date-picker>
			-->
			<i-button type="primary" icon="ios-search" @click="query">查询</i-button>
			<i-button type="primary" icon="ios-refresh-empty" @click="reset">重置</i-button>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
	
	<!-- Modal -->	
	<Modal v-model="showModal" :title="title" :mask-closable="false" width="800">
	
		<i-form ref="memberBanner" :model="memberBanner" :rules="ruleValidate" :label-width="100" label-position="left">
			<Form-item label="请选择会员" prop="memberId">
				<!-- 			    	<i-input v-model="goods.brandId" placeholder="品牌ID" style="width: 300px"></i-input> -->
				<i-select v-bind:disabled="editFlag"  v-model="memberBanner.memberId" placeholder="会员" style="width: 300px" >
					<i-option v-for="item in memberList" :value="item.id" :key="item.id">{{ item.nickname }}</i-option>
				</i-select>
			</Form-item>
			<Form-item label="会员Banner图" prop="memberBanner">
				<img :src="bannerImgSrc" class="img-rounded" v-if="showBannerImage" width="150px" height="78px">
				<Upload
						:format="['jpg','jpeg','png']"
						:on-success="handleSuccess1"
						name="file"
						:show-upload-list="false"
						action="../cos/upload/cloud/memberBanner">
					<i-button type="ghost" icon="ios-cloud-upload-outline">上传图片</i-button>
				</Upload>
				<span>图片尺寸：640*360px</span>
			</Form-item>

		</i-form>
	        
        <div slot="footer">
        	<i-button type="warning" @click="showModal = false">取消</i-button>
        	<i-button type="primary" @click="saveOrUpdate">确定</i-button>
    	</div>
	 </Modal>


	<Modal v-model="showModal2" :title="title" :mask-closable="false" width="800">

		<i-form ref="memberBanner" :model="memberBanner" :rules="ruleValidate" :label-width="100" label-position="left">
			<Form-item label="请选择会员" prop="memberId">
				<i-input v-model="memberBanner.memberId" placeholder="会员Id" style="width: 300px"></i-input>

			</Form-item>
			<Form-item label="会员Banner图" prop="memberBanner">
				<img :src="bannerImgSrc" class="img-rounded" v-if="showBannerImage" width="150px" height="78px">
				<Upload
						:format="['jpg','jpeg','png']"
						:on-success="handleSuccess1"
						name="file"
						:show-upload-list="false"
						action="../cos/upload/cloud/memberBanner">
					<i-button type="ghost" icon="ios-cloud-upload-outline">上传图片</i-button>
				</Upload>
				<span>图片尺寸：640*360px</span>
			</Form-item>

		</i-form>
		<div slot="footer">
			<i-button type="warning" @click="showModal2 = false">取消</i-button>
			<i-button type="primary" @click="saveOrUpdate">确定</i-button>
		</div>
	</Modal>
</div>

<script src="../public/js/cms/membersbanner.js"></script>
</body>
</html>