<!DOCTYPE html>
<html>
<head>
<title>会员</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../public/css/main.css">
<link rel="stylesheet" href="../public/iview/iview.css">
<link rel="stylesheet" href="../public/iview/ionicons.min.css">
<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../public/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/iview/iview.min.js"></script>
<script src="../public/js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<!--<i-button type="error" icon="close" @click="del" style="float:right;margin:0px 5px 0px 0px;">批量删除</i-button>-->
			<!--<i-button type="primary" icon="minus" @click="show" style="float:right;margin:0px 5px 0px 0px;">查看</i-button>-->
			<!--<i-button type="primary" icon="plus" @click="add" style="float:right;margin:0px 5px 0px 0px;">新增</i-button>-->
			
			<i-input v-model="q.code" placeholder="请输入会员号" clearable style="width: 300px"></i-input>
			<Date-picker v-model="q.ctime" type="daterange" placement="bottom-end" placeholder="请选择创建时间" style="width: 300px" @on-change="formateDate"></Date-picker>
			
			<i-button type="primary" icon="ios-search" @click="query">查询</i-button>
			<i-button type="primary" icon="ios-refresh-empty" @click="reset">重置</i-button>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
	<!-- Card -->	
	<div v-show="!showList">
		<Card dis-hover style="width:1200px">
            <p slot="title">{{title}}</p>
            
            <!--<a href="#" slot="extra" @click.prevent="saveOrUpdate">
            	<Icon type="checkmark" style="color: green;"></Icon>
	            <strong>保存</strong>&nbsp;&nbsp;
	        </a>-->
	        <a href="#" slot="extra" @click.prevent="reload">
	        	<Icon type="close" style="color: red;"></Icon>
	            <strong>关闭</strong>
	        </a>
	        
                
            <i-form ref="member" :model="member" :rules="ruleValidate" :label-width="100" label-position="left">
		       																		<Form-item label="头像" prop="portrait">
		            	<i-input v-model="member.portrait" placeholder="头像" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="昵称" prop="nickname">
		            	<i-input v-model="member.nickname" placeholder="昵称" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="性别 man woman" prop="gender">
		            	<i-input v-model="member.gender" placeholder="性别 man woman" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="创建时间" prop="ctime">
		            	<i-input v-model="member.ctime" placeholder="创建时间" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="删除标志 t f" prop="isDel">
		            	<i-input v-model="member.isDel" placeholder="删除标志 t f" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="状态 normal freeze" prop="status">
		            	<i-input v-model="member.status" placeholder="状态 normal freeze" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="姓名" prop="realName">
		            	<i-input v-model="member.realName" placeholder="姓名" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="手机号" prop="mobile">
		            	<i-input v-model="member.mobile" placeholder="手机号" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="微信用户ID" prop="openid">
		            	<i-input v-model="member.openid" placeholder="微信用户ID" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="游客common 会员vip " prop="type">
		            	<i-input v-model="member.type" placeholder="游客common 会员vip " style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="公司名称" prop="company">
		            	<i-input v-model="member.company" placeholder="公司名称" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="邮箱" prop="email">
		            	<i-input v-model="member.email" placeholder="邮箱" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="t:展示vip f:不展示" prop="showVip">
		            	<i-input v-model="member.showVip" placeholder="t:展示vip f:不展示" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="手机号2 ：非必填" prop="phone">
		            	<i-input v-model="member.phone" placeholder="手机号2 ：非必填" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="微信号" prop="weixinNumber">
		            	<i-input v-model="member.weixinNumber" placeholder="微信号" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="出生日期" prop="birthday">
		            	<i-input v-model="member.birthday" placeholder="出生日期" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="国籍" prop="nationality">
		            	<i-input v-model="member.nationality" placeholder="国籍" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="当前居住地址" prop="address">
		            	<i-input v-model="member.address" placeholder="当前居住地址" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="个人简介" prop="profile">
		            	<i-input v-model="member.profile" placeholder="个人简介" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="公司介绍" prop="companyProfile">
		            	<i-input v-model="member.companyProfile" placeholder="公司介绍" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="拥有资源" prop="havaResource">
		            	<i-input v-model="member.havaResource" placeholder="拥有资源" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="需要资源" prop="needResource">
		            	<i-input v-model="member.needResource" placeholder="需要资源" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="会员code" prop="vipCode">
		            	<i-input v-model="member.vipCode" placeholder="会员code" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="二维码" prop="qrCode">
		            	<i-input v-model="member.qrCode" placeholder="二维码" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="手机号1所属地区" prop="mobileCountry">
		            	<i-input v-model="member.mobileCountry" placeholder="手机号1所属地区" style="width: 300px"></i-input>
		        	</Form-item>
																	<Form-item label="手机号2所属地区" prop="phoneCountry">
		            	<i-input v-model="member.phoneCountry" placeholder="手机号2所属地区" style="width: 300px"></i-input>
		        	</Form-item>
										    </i-form>
		    
		    <!-- <div class="form-group">
				<div class="col-sm-2 control-label"></div> 
            	<i-button type="primary" @click="saveOrUpdate">确定</i-button>
            	&nbsp;&nbsp;
				<i-button type="warning" @click="reload">返回</i-button>
			</div> -->
        </Card>
	</div>
	
	<!-- Modal -->	
	<Modal v-model="showModal2" :title="title" :mask-closable="false" width="800">
	
		<i-form ref="member" :model="member" :rules="ruleValidate" :label-width="100" label-position="left">
																<Form-item label="头像" prop="portrait">
			    	<i-input v-model="member.portrait" placeholder="头像" style="width: 300px"></i-input>
				</Form-item>
													<Form-item label="昵称" prop="nickname">
			    	<i-input v-model="member.nickname" placeholder="昵称" style="width: 300px"></i-input>
				</Form-item>
													<Form-item label="性别 man woman" prop="gender">
			    	<i-input v-model="member.gender" placeholder="性别 man woman" style="width: 300px"></i-input>
				</Form-item>
				<Form-item label="姓名" prop="realName">
			    	<i-input v-model="member.realName" placeholder="姓名" style="width: 300px"></i-input>
				</Form-item>
													<Form-item label="手机号" prop="mobile">
			    	<i-input v-model="member.mobile" placeholder="手机号" style="width: 300px"></i-input>
				</Form-item>
				<Form-item label="邮箱" prop="email">
			    	<i-input v-model="member.email" placeholder="邮箱" style="width: 300px"></i-input>
				</Form-item>
				<Form-item label="手机号2 ：非必填" prop="phone">
			    	<i-input v-model="member.phone" placeholder="手机号2 ：非必填" style="width: 300px"></i-input>
				</Form-item>
				<Form-item label="微信号" prop="weixinNumber">
			    	<i-input v-model="member.weixinNumber" placeholder="微信号" style="width: 300px"></i-input>
				</Form-item>
				<Form-item label="出生日期" prop="birthday">
			    	<i-input v-model="member.birthday" placeholder="出生日期" style="width: 300px"></i-input>
				</Form-item>
				<Form-item label="国籍" prop="nationality">
			    	<i-input v-model="member.nationality" placeholder="国籍" style="width: 300px"></i-input>
				</Form-item>
				<Form-item label="当前居住地址" prop="address">
			    	<i-input v-model="member.address" placeholder="当前居住地址" style="width: 300px"></i-input>
				</Form-item>
													<Form-item label="个人简介" prop="profile">
			    	<i-input v-model="member.profile" placeholder="个人简介" style="width: 300px"></i-input>
				</Form-item>
													<Form-item label="公司介绍" prop="companyProfile">
			    	<i-input v-model="member.companyProfile" placeholder="公司介绍" style="width: 300px"></i-input>
				</Form-item>
													<Form-item label="拥有资源" prop="havaResource">
			    	<i-input v-model="member.havaResource" placeholder="拥有资源" style="width: 300px"></i-input>
				</Form-item>
													<Form-item label="需要资源" prop="needResource">
			    	<i-input v-model="member.needResource" placeholder="需要资源" style="width: 300px"></i-input>
				</Form-item>

													<Form-item label="手机号1所属地区" prop="mobileCountry">
			    	<i-input v-model="member.mobileCountry" placeholder="手机号1所属地区" style="width: 300px"></i-input>
				</Form-item>
													<Form-item label="手机号2所属地区" prop="phoneCountry">
			    	<i-input v-model="member.phoneCountry" placeholder="手机号2所属地区" style="width: 300px"></i-input>
				</Form-item>
		</i-form>
	        
        <div slot="footer">
        	<i-button type="warning" @click="noPass">不通过</i-button>
        	<i-button type="primary" @click="memberPass">通过</i-button>
    	</div>
	 </Modal>

	<Modal v-model="showModal4" :title="title" :mask-closable="false" width="800">

		<i-form ref="member" :model="member" :rules="ruleValidate" :label-width="100" label-position="left">
			<Form-item label="原因" prop="nickname">
				<i-input v-model="member.auditMsg" placeholder="原因" style="width: 300px"></i-input>
			</Form-item>
		</i-form>
			<div slot="footer">
				<i-button type="primary" @click="memberPass">确认</i-button>
			</div>
	</Modal>
</div>

<script src="../public/js/cms/members.js"></script>
</body>
</html>